* {
  text-align: left;
  font-family: 'Lato', sans-serif;
}

.nav-bar {
  width: 100%;
}

.nav-bar ul {
  list-style-type: none;
  margin: 30px 0 30px 0;
  padding: 0;
  overflow: hidden;
  vertical-align: middle;
}

.nav-bar li a.tab {
  margin: 20px 20px;
  float: right;
  display: block;
  color: black;
  padding: 3px 5px;
  text-decoration: none;
}

.nav-bar li a.tab.active {
  background-color: #FAFF00;
}

.nav-bar a img#logo {
  float: left;
  display: inline-block;
  width: 20%;
  margin-left: 30px;
}

.nav-bar a img#cart-icon {
  float: right;
  display: inline-block;
  width: 3%;
  margin-left: 15px;
  margin-right: 3%;
  margin-top: 14px;
}

.main-body {
  margin: 100px 30px 0 30px;
}

.main-body .main-text {
  margin-top: -50px;
  width: 50%;
  float: left;
}

.main-body .main-text h1 {
  font-size: 3.5em;
}

.main-body .main-text p {
  font-size: 1em;
  font-weight: 300;
  margin-top: -30px;
}

.main-body .main-img {
  float: right;
  width: 50%;
}

.main-body .main-img img {
  width: 92%;
  margin-left: 8%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main-body .main-text .button {
  background-color: #4F72F0;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin-top: 40px;
  cursor: pointer;
}

.main-body table.items-table {
  border-spacing: 20px;
  width: 104%;
  margin-left: -20px;
}

.main-body table.items-table td {
  width: 25%;
  padding: 20px 20px 10px 20px;
  margin: 0 10px 0 10px;
}

.main-body table.items-table td img.item-img {
  width: 100%;
}

.main-body h1#page-title {
  font-size: 30px;
  font-weight: 400;
}

.main-body table.items-table p.item-name {
  font-weight: 700;
  float: left;
  vertical-align: middle;
  color: black;
}

.main-body table.items-table p.item-price {
  font-size: 14px;
  float: right;
  vertical-align: middle;
  padding-top: 3px;
  color: gray;
}

.main-body table.items-table td {
  transition: box-shadow .3s;
  border-radius: 10px;
  background: #fff;
}

.main-body table.items-table td:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}
